<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/lib/astiloader/astiloader.css"/>
    <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.min.css">
</head>
<body>
<div class="wrapper">
    <div class="content">
        <button id="btn-open" class="btn-sm btn-success">Open</button>
    </div>
</div>
<script src="/static/lib/astiloader/astiloader.js"></script>
<script>
    asticode.loader.init();
    document.addEventListener('astilectron-ready', function() {
        document.getElementById("btn-open").onclick = function() {
            astilectron.showOpenDialog({properties: ['openFile', 'multiSelections']}, function(paths) {
                asticode.loader.show();
                window.location = "/templates/frames?paths=" + paths.join(',')
            })
        }
    })
</script>
</body>
</html>